
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



body {
 
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-scrollbar:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 /* For webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 20px; /* Reduced width of the vertical scrollbar */
  height: 5px; /* Reduced height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #005167;
  border-radius: 2px; /* Rounded corners for the thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #005167 transparent;
}

